.header__link {
  text-decoration: none;
  color: $color-white;
  display: block;
  text-align: center;
  padding: 12px 0;
  opacity: 1;
  transition: opacity .5s;
}

.header__link:hover {
  opacity: 0.5;
}

.header__link:last-child {
  padding-bottom: 24px;
}

@media screen and (min-width:768px) {
  .header__link {
    padding: 0;
  }
  .header__link:last-child {
    padding: 0;
  }
}