.camera__wrapper {
  @include wrapper-size-position('mobile');
  border-top: 1px solid $color-white;
}

@media screen and (min-width: 768px) {
  .camera__wrapper {
    @include wrapper-size-position('tablet');
    border-top: none;
  }
}

@media screen and (min-width: 1440px) {
  .camera__wrapper {
    @include wrapper-size-position('desktop');
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}