.camera__subtitle {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .camera__subtitle {
    font-size: 122px;
    line-height: 122px;
  }
}

@media screen and (min-width: 1440px) {
  .camera__subtitle {
    width: 45vw;
  }
}