.header__menu-wrapper {
  position: absolute;
  visibility: hidden;
}

@media screen and (min-width:768px) {
  .header__menu-wrapper {
    position: initial;
    display: flex;
    align-items: center;
  }
}