.camera__reviews {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 51px;
  margin-bottom: 60px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .camera__reviews {
    font-size: 18px;
    line-height: 28px;
    margin-top: 60px;
    margin-bottom: 178px;
  }
}

@media screen and (min-width: 1440px) {
  .camera__reviews {
    margin-top: -35px;
  }
}