.header__burger-button_type_close::before {
  content: '';
  width: 32px;
  height: 3px;
  background-color: $color-white;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 14px 0 0 $color-white, 0 28px 0 0 $color-white;
}