.header__burger-button {
  @include widthHeigth(32px, 32px);
  @include resetStyleButton;
  position: relative;
  cursor: pointer;
  margin-left: auto;
}

@media screen and (min-width: 1440px) {
  .header__burger-button {
    display: none;
  }
}