.header__container-button {
  display: flex;
  justify-content: space-between;
  padding: 19px 3px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header__container-button {
    padding: 26px 3px;
  }
}