.send-email__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 50px;
  margin-top: 20px;
  margin-bottom: 210px;
}

@media screen and (min-width: 768px) {
  .send-email__title {
    font-size: 100px;
    line-height: 107px;
    margin-top: 2px;
    margin-bottom: 189px;
  }
}