.photography-course__image {
  width: 100%;
  object-fit: cover;
  margin-bottom: 55px;
}

@media screen and (min-width: 768px) {
  .photography-course__image {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .photography-course__image {
    width: 45vw;
    margin-bottom: 0;
  }
}