.button {
  width: 169px;
  height: 40px;
  border: 2px solid $color-black;
  border-radius: 9999px;
  background-color: $color-white;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 28px;
}