.order-search__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 30px;
}

@media screen and (min-width:768px) {
  .order-search__description {
    font-size: 18px;
    line-height: 28px;
    width: 380px;
    margin-bottom: 59px;
  }
}