.send-email__input-text {
  // padding: 13px 26px 13px 20px;
  padding: 17px 0px 14px 20px;
  font-size: 11px;
  width: 55vw;
  letter-spacing: 0.375px;
  box-sizing: border-box;
  border-radius: 8px 0px 0px 8px;
  border: 2px solid $color-black;
}