.foter__copyrite {
  @include wrapper-size-position('mobile');
  padding: 40px 0 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .foter__copyrite {
    @include wrapper-size-position('tablet');
    padding: 80px 0 41px;
    font-size: 15px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .foter__copyrite {
    @include wrapper-size-position('desktop');
    padding: 88px 0 60px;
    max-width: 1807px
  }
}