.composition__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .composition__subtitle {
    font-size: 64px;
    line-height: 64px;
    width: 500px;
  }
}

@media screen and (min-width: 1440px) {
  .composition__subtitle {
    width: 44vw;
    margin-bottom: 100px;
  }
}
