.camera__title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 20px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px){
  .camera__title {
    font-size: 18px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 39px;
  }
}