.order-search__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .order-search__title {
    font-size: 18px;
    line-height: 28px;
    margin-top: 9px;
    margin-bottom: 41px;
  }
}

@media screen and (min-width: 1440px) {
  .order-search__title {
    margin-top: 56px;
    margin-bottom: 49px;
  }
}