.send-email__button {
  width: 33vw;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.375px;
  box-sizing: border-box;
  border-radius: 0px 8px 8px 0px;
  border: 2px solid $color-black;
  background-color: $color-white;
  border-left: none;
  cursor: pointer;
}

.send-email__button:hover {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .send-email__button {
    width: 26vw;
  }
}

@media screen and (min-width: 1440px) {
  .send-email__button {
    width: 14vw;
  }
}