.send-email__button {
  width: 33vw;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.375px;
  box-sizing: border-box;
  border-radius: 0px 8px 8px 0px;
  border: 2px solid $color-black;
  background-color: $color-white;
  border-left: none;
}