.composition__item {
  padding-bottom: 14px;
  border-bottom: 1px solid $color-black;
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 18px;
}

.composition__item:nth-child(2) {
  padding-right: 80px;
}

.composition__item:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

@media screen and (min-width: 768px) {
  .composition__item {
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 26px;
    padding-top: 19px;
  }
}